body {
    display: block;
    position: static;
    height: 100%;
    width: 100%;
    background-image: url('./images/earth.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
aside {
    display: inline-block;
    position: relative;
    width: 13%;
    height: 100%;
    background-image: url('./images/aside_bg.png');
    padding: 15px;
    padding-top: 30px;
}
main {
    display: inline-block;
    position: relative;
    vertical-align: top;
    left: 110px;
    top: -10px;
}
.row {
    margin-bottom: 3%;
    margin-top: 1.5%;
    border: none;
}
.card {
    background-color: transparent;
    height: 120px;
    width: 120px;
    border: none;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-front, .card-back {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 2s ease-in-out;
}

.card-front {
    z-index: -1;
}

.disappear {
    transform: scale(0.0);
}

.static {
    background-image: url('./images/portal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dynamic {
    background-image: url('./images/portal.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.progress {
    height: 40px;
    max-width: 400px;
}

.progress-container {
    width: 50%;
    top: 75px;
}

.drunk-rick {
    background-image: url('./images/drunk_rick.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}

.neutrino-bomb {
    background-image: url('./images/neutrino_bomb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 75px;
}

.hidden {
    display: none;
}

.happy {
    background-image: url('./images/happy_morty.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 75px;    
}

.angry {
    background-image: url('./images/angry_morty.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 75px; 
}
.reset-button {
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border-radius: 5px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px;
	text-shadow: 0px -1px 0px #2b665e;
}
.reset-button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.reset-button:active {
	position:relative;
	top:1px;
}

aside > * {
    margin-bottom: 15px;
}


@media only screen 
  and (min-device-width: 1200px) {
    html {
        height: 100vh;
        width: 100vw;
    }
    aside {
        height: 85%;
        padding: 30px;
        font-size: 1.4em;
        padding-top: 100px;
    }
    aside > * {
        margin-bottom: 30px;
    }
    .progress-container {
        width: 24%;
    }
    main {
        height: 85%;
        width: 86%;
        left: 40px;
        top: 40px;
    }
    .card {
        height: 100%;
        width: 16%;
    }
}
